<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/home.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Not Facebook</a>
  <ul class="nav navbar-nav">
    {% if session['logstatus']==False %}
    <li class="nav-item active">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Sign In</a>
    </li>
    {% else %}
    <li class="nav-item active">
      <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Log Out</a>
    </li>
    {% endif %}
  </ul>
</nav>
  {% with errors = get_flashed_messages(category_filter=["registration_error"]) %}

    {% if errors %}
    <div class="container">
    <h2>ERROR!</h2>
      {% for error in errors %}
      <p>{{error}}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}

  <div id="reg" class="container col-sm-5 form-box">
    <div class="form-top">
      <div class="form-top-left">
        {% if session['logstatus']==False %}
        <h3>Enter your Information</h3>
        {% elif session['logstatus']==True and session['permission']>=8 %}
        <h3>Add a new user</h3>
        {% endif %}
      </div>
      <div class="form-top-right">
        <i class="fa fa-pencil"></i>
      </div>
      </div>
      <div class="form-bottom">
    <form role="form" action="/adduser" method="post" class="registration-form">
      <div class="form-group">
        <label class="sr-only" for="first_name">First name</label>
          <input type="text" name="first_name" placeholder="First name..." >
        </div>
        <div class="form-group">
          <label class="sr-only" for="last_name">Last name</label>
          <input type="text" name="last_name" placeholder="Last name...">
        </div>
        <div class="form-group">
          <label class="sr-only" for="email">Email</label>
          <input type="text" name="email" placeholder="Email...">
        </div>
        <div class="form-group">
          <label class="sr-only" for="password">Email</label>
          <input type="password" name="password" placeholder="Password...">
        </div>
        <div class="form-group">
          <label class="sr-only" for="passconfirm">Email</label>
          <input type="password" name="passconfirm" placeholder="Confirm Password...">
        </div>
        <button type="submit" class="btn">Register</button>
    </form>
  </div>
  </div>
</body>
</html>
